/* background */

body {
	background-image: url("../img/backmain.png");
    margin: 0;
	background-size: auto;
	background-repeat: no-repeat;
	
}

/* Navbar */

.nav 
{
   margin:0;
   color: white;
	font-size: 20px;
	font-family: monospace;
	text-align: center;
    display: block;
	
}
.nav a:link, .nav a:visited 
{
   color: white;
   padding:10px 40px 4px 10px;
   float:left;
   width:auto;
   border-right:10px transparent ;
   text-decoration:none;
   font:bold 1em/1em Arial, Helvetica, sans-serif;
   text-transform:uppercase;
   text-shadow: 2px 2px #438d3f;
}
.nav li 
{
   display: inline-block;
   padding:0;
   margin:0;
   border-style:groove ;
   background: rgba(0, 0, 0, 0.6);
}
header {
	background-image: url('../img/autre.jpg');
	background-size: 100%;
	width: 100%;
}

header a img {
    margin: auto;
    display: block;
    height: 150px;
    width: auto;
}

/* Début de la page */

.welcome
 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.description
 {
	text-align: center;
    color: white;
    background-color: #2f2c2c;
    font-family: monospace;
    font-weight: bold;
    font-size: 17px;
    border: outset 2px #35ad3e;
	}
.new2 {
	color:red;

	font-family: monospace;
	font-weight:bold;
	font-size:20px;
	
}
/* Div du centre */
.new
 {
	margin-left: auto;
	text-align: center;
	float: center;
    height:auto;
	display:inline-block;
	
}
/*Tableau */
table {
	color: green;
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	border:0px inset gray;	
}

table td ,td td ,tr td { 
 border:2px solid green;
 border-radius: 5px;
 width:	auto;
 }
table img {
	height: 150px;
	width: auto;
}
table caption img {
	height: auto;
	width: 350px;
}

/* Div de gauche*/

.offres{
	text-align:center;
	display:inline-block;
	margin-left:2%;
	float: left;
	}


/* Div de droite */
.semaine{
	text-align:center;
	display:inline-block;
	margin-right:2%;
	float: right;
	
}
.barré{
	text-decoration: line-through;
}
.carac{
	text-align: left;
}

/* Jeux concours */

.concours{
	text-align: center;
    display: inline-block;
    width: 60%;
    border-style: solid;
    border-color: #008000;
    border-radius: 5px;
    height: 520px;
}

.concoursgauche{
	width: 35%;
}

.contxt {
	color: white;
    margin-left: 40%;
    margin-top: -320px;
    width: 50%;
}

.contxt button{
	color: #fff;
    background-color: #008000;
    border-color: #ffffff;
    border-radius: 10px;
    width: 110px;
    height: 40px;
}

.concourstxt {
    font-size: 33px;
}

.concours img {
	height: 14%;
    padding-top: 17px;
}

.concoursgauche img {
    height: 350px;
}

/* Bureautique */

.sepimg img {
    text-align: center;
	margin-top: 2%;
}

.sepimg a img {
	padding: 25px;
}

.globalpc {
	margin-left: auto;
    width: 40%;
    margin-right: auto;
    margin-top: 20px;
}

.globalpc table caption img{
	width: auto;
}

.globalpc table td img{
	height: 250px;
}
.globalpc button {
	color: #fff;
    background-color: #008000;
    border-color: #ffffff;
    border-radius: 10px;
    width: 110px;
    height: 40px;
}

/* Footer */ 

footer {
	border-radius: 10px;
    border-style: outset;
    border-color: #13b313;
    margin-top: 2%;
	
}
.footerlist a:link, .footerlist a:visited 
{
   color:#36d205;
   padding:20px 40px 20px 80px;
   float:center;
   text-decoration:none;
   font:bold 1em/1em Arial, Helvetica, sans-serif;
   text-transform:uppercase;
   text-shadow: 2px 2px 2px #555;
   margin-top:50px;
   font-size:15px;

}
.footerlist li 
{
   display: inline-block;
   padding:0;
   margin:0;
}
.footerimg a:link, .footerimg a:visited
{
	padding: 40px 10px;
	float: center;
	width :auto;
	
}
.footerimg li 
{
   display: inline-block;
   padding:0;
   margin:0;
}
/* Grande Div */
.grand{
    margin-top: 4%;
	margin:0 auto;
	text-align: center;
    
}
/* effet de texte */
.promo {
	color:red;
	font-family:fantasy;
	font-size:20px;
}
.nomsarticles {
	color: white ;

font-family: monospace;
}
.copyright {
    color: white;
    text-align: center;
    font-family: serif;
    font-size: 11px;
}
.titre{
    color: white;
    text-shadow: 2px 2px green;
    font-family: cursive;
    text-decoration: underline;
    font-size: 40px;
}
/* Contact.html*/
.contactpersonel {
    color: white;
    display: inline-block;
    text-align: left;
    margin: 0;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
	margin-left:1%;
	border: inset green 2px;
	text-shadow: 1px 1px #438d3f;
}
.info {
   color: white;
    text-align: right;
    display: inline-block;
    float: right;
   font-family:cursive;
    font-size: 19px;
    font-weight: bold;
	margin-right:2%;
	text-shadow: 1px 1px #438d3f;
	text-decoration: underline;
	
}
.contactpersonel ul li img {
    width: 270px;
    height: auto;
}
/* Test et review */
div .titrenews{
background-color:rgba(93, 93, 93, 0.32);
width:80%;
position:relative;
bottom:0;
text-align: right;
}


.headerrecent{
text-align: center;
font-size: 25px;
font-family:monospace;
color: white; 
text-shadow: 2px 2px #438d3f;
text-decoration: underline;
font-weight:bold;
}

.test1{
	
	display:inline-block;
	margin-left:2%;
	float: left;
	color: white;

}


.test2 {
	margin-left:10%;
	display:inline-block;
	color: white;
	
}


.test3 {

	display:inline-block;
	margin-right:2%;
	float: right;
	color: white;

}
.test1 img , .test2 img , .test3 img {
width: auto;
height: 300px;
border: double #438d3f 4px;
}
.ancien{
	margin-left:2%;
	}
.ecritright ,.ecritright a:link, .ecritright a:visited{
text-align: right;
width:85%;
text-decoration:underline;
color:#438d3f ;

}

.ancien table, .ancien table td {
	/* border: 0; */
	margin-left:20%;
	font-family: monospace;
	font-size: 20px;
	border-collapse: separate;
    border-spacing: 5px 50px; 
	padding:9px;

}
.ancien table td{
	background-color:rgba(146, 146, 146, 0.2);
	border-radius: 15px;}
.imgnews {
	
}